<div class="last-payout">
  Last payout ≈
  <span class="utc-date" data-date="<%= wallet.last_changed.strftime('%m/%d/%y %H:%M:%S UTC') %>">
    <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
  </span>
</div>
