<div id="summary" class="alert alert-primary" role="alert" data-token="<%= @track.token %>">
  <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
</div>
<div class="row cards">
  <% @track.wallets.each_with_index do |wallet, index| %>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="card bg-light mb-3" style="max-width: 20rem;"
      data-toggle="tooltip" title="<%= wallet.description %>" data-id="<%= wallet.id %>">
        <div class="card-header">Wallet <%= index + 1 %></div>
        <div class="card-body">
          <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
