<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <i class="fa fa-bookmark" aria-hidden="true"></i> Bookmark this page to easily access it in the future!
</div>
<div class="row cards">
  <% @track.wallets.each_with_index do |wallet, index| %>
    <div class="col-lg-3 col-md-4 col-sm-5">
      <div class="card bg-light mb-3" style="max-width: 20rem;"
      data-toggle="tooltip" title="<%= wallet.description %>" data-id="<%= wallet.id %>">
        <div class="card-header">Wallet <%= index + 1 %></div>
        <div class="card-body">
          <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
