<div class="row cards">
  <div class="col-lg-3 col-md-4 col-sm-5">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">Wallet 1</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light">100 CHC</li>
          <li class="list-group-item bg-light">$23.34</li>
          <li class="list-group-item bg-light">BTC 0.0002</li>
          <li class="list-group-item bg-light">
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="CVEV22D8uzZrmaMd88yhtMqRTBAGRugwZE">
              Show Address
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
