<div class='input-group'>
  <input type='text' class='form-control' value='<%= wallet.address %>' readonly>
  <span class='input-group-btn'>
    <button class='clipboard-btn btn btn-secondary' type='button' data-clipboard-text='<%= wallet.address %>'>
      <i class='fa fa-clipboard' aria-hidden='true'></i>
    </button>
  </span>
</div>
