// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wallet-form {
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}

#menu {
  float: right;
  margin-top: 10px;
}

#recaptcha {
  margin-bottom: 10px;
}

.note {
  font-style: italic;
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 0.2em;
}
