// Place all the styles related to the wallets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card:hover {
  border-color: #bbb;
}

.card-body {
  i {
    margin: 10px;
  }
  .alert {
    margin-top: 15px;
  }
}

.popover {
  max-width: 400px;
  input[type="text"] {
    width: 300px;
    font-size: 0.85em;
  }
}

.remove {
  margin-top: -4px;
}

.last-payout {
  cursor: default;
  float: right;
  font-size: 0.98em;
}
